@keyframes slidy {
  0% {
    left: 0%;
  }

  25% {
    left: 0%;
  }

  30% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  60% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

@font-face {
  font-family: 'Mynerve';
  src: url('./font/Mynerve-Regular.woff2') format('woff2'),
    url('./font/Mynerve-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Patrick Hand';
  src: url('./font/PatrickHand-Regular.woff2') format('woff2'),
    url('./font/PatrickHand-Regular.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: Mynerve;
}

body {
  margin-top: 125px;
}

p {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.3rem;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  top: 0;
  display: flex;
  background-color: #AAE273;
  position: fixed;
  z-index: 300;
  width: 100%;
  overflow: hidden;
  height: 125px;
}

nav img {
  width: 80px;
}

a {
  font-size: 1.5rem;
  text-align: center;
  color: #1E3C1D;
  font-weight: bold;
  align-self: center;
  transition: 0.8s;
  border-radius: 10px;
  margin: 5px auto;
  padding: 10px 15px;
}

a:hover {
  cursor: pointer;
}

a:hover:not(.logo) {
  color: #AAE273;
  background-color: #1E3C1D;
}

div.captioned-gallery {
  width: 100%;
  overflow: hidden;
}

div.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  /* ? pourquoi ça créer une marge dégueulasse entre les photos quand je l'enlève ??? */
  animation: 15s slidy infinite;
}

div.slider div {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

div.slider img {
  width: 100%;
  height: auto;
}

div.slider div figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  padding: 0.6rem;
}

.enTete {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 15.625vw;
  font-size: 4vw;
  color: #AAE273;
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 3px;
  padding: 1px 10px;
  align-self: center;
}

.titre {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  text-align: center;
  font-size: 2rem;
}

.skip-link {
  background-color: #f9dc4a;
  border: solid 3px #000;
  color: #000;
  padding: 0.625em 0.9375em;
  text-decoration: none;
}

.skip-link:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link:focus {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}

.top {
  padding-top: 20px;
  margin-top: 0px;
}


.sliderNouveautees{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.toutesNouveautees{
  display: flex;
  position: absolute;
  left: -22.5%;
  /* *  +50% pour passer de div en div sur le slider*/
}

.nouveautee {
  border: black solid 3px;
  width: 45%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.8);
  -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.8);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.8);
  flex-shrink: 0;
  margin: 10px;
}

.nouveautee img {
  float: left;
}

.nouveautee h2 {
  width: 50%;
  position: absolute;
  left: 50%;
  text-align: center;
  top: -7.5%;
  font-size: 3vw;
}

.nouveautee p {
  position: absolute;
  width: 50%;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 5px;
  font-size: 1.5vw;
}




@media screen and (max-width: 795px) {
  .enTete {
    top: 20vw;
  }
}

@media screen and (min-width: 1500px) {
  .enTete {
    top: 12vw;
  }
}