@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }

  25% {
    left: 0%;
  }

  30% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  60% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  25% {
    left: 0%;
  }

  30% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  60% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

@-webkit-keyframes appeleScroll {
  0% {
    transform: translate(-50%, 0);
  }

  20% {
    transform: translate(-50%, 10px);
  }

  40% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes appeleScroll {
  0% {
    transform: translate(-50%, 0);
  }

  20% {
    transform: translate(-50%, 10px);
  }

  40% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@font-face {
  font-family: 'Mynerve';
  src: url('./font/Mynerve-Regular.woff2') format('woff2'),
    url('./font/Mynerve-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.woff2') format('woff2'),
    url('./font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Bold.woff2') format('woff2'),
    url('./font/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-LightItalic.woff2') format('woff2'),
    url('./font/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 125px;
  background-color: #f4e9d7;
}

p {
  font-size: 1.2rem;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  top: 0;
  display: flex;
  background-color: #AAE273;
  position: fixed;
  z-index: 300;
  width: 100%;
  overflow: hidden;
  height: 125px;
}

nav img {
  width: 80px;
}

nav a {
  font-size: 1.5rem;
  text-align: center;
  color: #1E3C1D;
  font-weight: bold;
  align-self: center;
  transition: 0.8s;
  border-radius: 10px;
  margin: 5px auto;
  padding: 10px 15px;
  font-family: Mynerve, cursive;
}

a:hover {
  cursor: pointer;
}

nav a:hover:not(.logo) {
  color: #AAE273;
  background-color: #1E3C1D;
}

div.captioned-gallery {
  width: 100%;
  overflow: hidden;
}

div.slider {
  position: relative;
  width: 500%;
  -webkit-animation: 15s slidy infinite;
  animation: 15s slidy infinite;
  display: flex;
  flex-wrap: wrap;
}

div.slider div {
  width: 20%;
  height: auto;
}

div.slider img {
  width: 100%;
  height: auto;
}

div.slider div figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  padding: 0.6rem;
}

.enTete {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 15.625vw;
  font-size: 4vw;
  color: #AAE273;
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 3px;
  padding: 1px 10px;
  align-self: center;
  font-family: Mynerve, cursive;
}

.titre {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  text-align: center;
  font-size: 2rem;
  font-family: Mynerve, cursive;
}

.skip-link {
  background-color: #f9dc4a;
  border: solid 3px #000;
  color: #000;
  padding: 0.625em 0.9375em;
  text-decoration: none;
}

.skip-link:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link:focus {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}

.top {
  padding-top: 15px;
  margin-top: 0px;
}


.sliderNouveautees {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.toutesNouveautees {
  display: flex;
  position: relative;
  left: -22.5%;
  transition: 1s;
}

.nouveautee {
  border: rgb(96, 96, 96) solid 1px;
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  flex-shrink: 0;
  margin: 1%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.nouveautee h2 {
  font-size: 3vw;
  font-family: Mynerve, cursive;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nouveautee p {
  padding: 5px;
  font-size: 1.5vw;
  margin-top: 0;
  padding-top: 0;
}

.texteNouveautee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.appeleScroll {
  position: absolute;
  margin-left: -35px;
  left: 50%;
  top: 50vw;
  transform: translateX(-50%);
  -webkit-animation: 2s appeleScroll infinite;
  animation: 2s appeleScroll infinite;
}

.sliderDroite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  right: 10px;
}

.sliderGauche {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: 10px;
}

.sliderDroite,
.sliderGauche:hover {
  cursor: pointer;
}

footer {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

footer a {
  color: white;
  display: block;
}

.marge {
  margin-bottom: 10px;
}

.allFormule {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: auto 15%;
  flex-wrap: wrap;
}

.formule {
  border: rgb(96, 96, 96) solid 1px;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  padding: 5px 15px;
  padding-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  transition: 0.8s;
  max-width: 250px;
  min-width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-between;
}

.formule h2 {
  font-family: Mynerve, cursive;
}

.lienFormule {
  text-decoration: none;
  color: white;
  background-color: #327D58;
  cursor: pointer;
  border-radius: 10px;
  padding: 7.5px 12px;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.lienFormule:hover {
  background-color: #1f4e3a;
}

.prix {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.produit {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 20px;
  border: rgb(96, 96, 96) solid 1px;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  border-radius: 10px;
  width: 90%;
  margin-right: auto;
  margin-left: 5%;
  justify-content: center;
  min-width: 390px;
  margin-bottom: 20px;
}

.produit img {
  border-radius: 10px;
}

.produit>*:not(img) {
  width: 50%;
}

.lien {
  margin-bottom: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5%;
  padding-top: 20px;
}

.produitTexte {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  gap: 20px 0;
  min-width: 350px;
}

.produitTexte>* {
  margin: 0;
}

.produitTexte h1 {
  width: 100%;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.produitTexte p:not(.lienFormule) {
  width: 50%;
  padding-left: 50px;
}

.produitTexte div {
  justify-content: center;
  display: flex;
  width: 50%;
  padding: 0;
}

.indisponible {
  text-decoration: none;
  color: white;
  background-color: #5c6360;
  border-radius: 10px;
  padding: 7.5px 12px;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 8px !important;
  font-size: 1.05rem;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.popup {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.25s;
}

.popup p {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.textePopup {
  border: rgb(96, 96, 96) solid 1px;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  border-radius: 10px;
  padding: 20px;
  background-color: #96969696;
}

.ok {
  background-color: #373737;
  color: white;
  border-radius: 10px;
  padding: 7.5px 12px;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
}

.ok:hover {
  background-color: #cdcdcd;
  color: black;
}

.lienPanier {
  display: block;
  position: fixed;
  width: 75px;
  bottom: 35px;
  left: 2%;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
  border-radius: 100px;
  background-color: #AAE273;
}

.panier{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

ul {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
}

.dansPanier {
  background-color: #c1c7bf;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  min-width: 400px;
  max-width: 500px;
}

.achat {
  min-width: 390px;
  max-width: 400px;
  margin-left: 5%;
  margin-bottom: 35px;
}


form.panier {
  width: 45%;
  min-width: 400px;
  max-width: 500px;
  padding: 20px;
  padding-top: 1px;
  background-color: #c1c7bf;
  border-radius: 10px;
  margin-bottom: 25px;
  flex-direction: column  ;
}

form.panier input:not(input[type="radio"],form.panier input[type="submit"]),
form.panier select {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: #eeefe8;
  color: #454b43;
  margin-bottom: 20px;
}

form.panier input[type="radio"] {
  margin: 0 4px 8px 0;
}

form.panier fieldset {
  margin-bottom: 10px;
  border: none;
}

form.panier legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

form.panier label {
  display: block;
  margin-bottom: 8px;
}

form.panier label.ligne {
  display: inline;
}

form.panier .number {
  background-color: #AAE273;
  color: black;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.95rem;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}

form.panier .label {
  margin-bottom: 5px;
}

form.panier .titre{
  width: auto;
}

.impaire{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row-reverse;
  margin-bottom: 25px;
}
.paire{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.grand {
  font-size: 2.5rem;
  margin: 30px auto;
  padding-top: 30px;
}

label[for="recherche"]{
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

input[type="search"] {
  height:45px;
  width:40%;
  border-radius: 100px;
  font-size:16px;
  margin-bottom: 25px;
  margin-left: 30%;
  display: block;
  z-index: 2;
}

.searchBar{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.searchBar input[type="submit"]{
  height: 45px;
  width: 120px;
  border-radius: 100px;
  text-align: right;
  transform: translate(-30%, -1px);
}

.disponibilite{
  margin-left: 20px;
}

.required{
  color: rgb(224, 30, 30);
  font-weight: 300;
  font-style: italic;
}

.italic{
  font-weight: 300;
  font-style: italic;
  font-size: 0.7rem;
  color: black;
}

.ml{
  width: 80%;
}

.listePuce h2{
  margin-left: 20%;
}

.concept{
  width: 45%;
  margin-bottom: 30px;
}

.center{
  text-align: center;
}

@media screen and (max-width: 795px) {
  .enTete {
    top: 20vw;
  }
}

@media screen and (min-width: 1500px) {
  .enTete {
    top: 12vw;
  }
}